/*
 * Propaties which depends on product and cascade from setting
 * layers of color, branding and media
 * variables of textsize, space, aimation, feedback, z-index and anything else
*/
// value layer
// 値 カラーコードを別名として定義
color-white = #f4f5f7;
color-black = #333;
color-blue = #007bff;
color-blue-dark = #0056b3;
color-brown = #7c5119;
color-gray = #8c8c8c;
color-gray-dark = #1a1a1a; // dk means dark
color-gray-light = #ddd; // lt means light
color-gray-pale = #f6f6f6; // p means pale
color-green = #51c300;
color-red = #f0163a;
color-red-pale = #d03c56;

// branding layer
// 色 = サービス全体で統一する色の意味
color-base = color-white;
color-main = none;
color-accent = none;
color-success = none;
color-danger = none;
color-warning = color-red;
color-info = color-gray;
color-primary = color-green;
color-secondary = none;
// media layer
// 色 = 媒体固有で使用する色
color-link = color-blue;
color-link-active = none;
color-link-hover = color-blue-dark;
color-link-visited = none;
color-text = color-black;
color-text-outlined = color-white;
color-tip = color-gray-dk;
color-line = color-gray-lt;
color-info-layer1 = color-gray-p;
color-info-layer2 = color-white;
color-header = color-black;
color-card = color-white;
color-card-header = color-black;
// 文字 = サイズ
font-size-xxs = none;
font-size-xs = 0.6rem;
font-size-s = 0.8rem;
font-size-m = 1rem;
font-size-l = 1.2rem;
font-size-xl = 1.4rem;
font-size-xxl = 1.6rem;
font-size-xxxl = 1.8rem;
font-size-xxxxl = 2rem;
// 文字 = 太さ
font-weight-default = 400;
font-weight-bold = 700;
// 余白
space = 0.5rem;
// 枠
line-width = 1px;
line-style = solid;
radius = 2px;
border = line-width line-style color-line;
// フィードバック
hover-feedback-opacity = 0.7;
// アニメーション
hover-animation-duration = 0.1s;
hover-animation-timing = ease-out;
hover-animation = hover-animation-duration hover-animation-timing;
fade-animation-duration = 0.2s;
fade-animation-timing = linear;
fade-animation = fade-animation-duration fade-animation-timing;
// z座標
z-header = 10;
// レスポンシブル デザイン
// @custom-media breakpoint-s (min-width = 768px)
